application.mode=debug
application.log=./application.log
application.lang=es

database.host=jdbc:mysql://0.0.0.0:3316/myDb?generateSimpleParameterMetadata=true&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull
database.user=user
database.pass=test
database.port=3316
database.name=myDb
database.driver=mysql